/* Makes sure the body takes up the whole window */
html, body {
  width: 100%;
  height: 100%;
}

/* Removes scrollbars and sets canvas w/h to max */
#game-canvas {
  display: block;
  width: inherit;
  height: inherit;
}

/* Removes whitespace */
* {
  margin: 0px;
  padding: 0px;
}
